*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background: #f2f0efd0;
    color: #000;
}

#header{
    width: 100%;
    height: 100vh;
    background: url(Website1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.container{
    padding: 1px 3%;
}

nav
{
    display: flex;
    justify-content: space-between;
    align-items:normal;
    flex-wrap: wrap;
}

.logo{
    width: 200px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #964B00;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #964B00;
    position: absolute;
    left: 0;
    bottom: -6px;
}
nav ul li a:hover{
    color: goldenrod;
    text-decoration: none;
    font-size: 1.14rem;
}

nav ul li a:hover::after{
    color: #964B00;
    width: 100%;
    transition: .5s;
}

.header-text{
    margin-top: 10%;
    font-size: 25px;
    color: #000;
}

.header-text h1{
    font-size: 50px;
    margin-top: 10px;
}

span{
    color: #964B00;
}

.btn.btn2{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    background: #fff;
    color: #000000;
}

/*-----------about.html------------*/

#about{

   padding: 50px 0;
   color: #76716c; 
    }

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}

.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    padding-bottom: 10px;
    font-size: 45px;
    font-weight: 600;
    color: #964B00;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #964B00;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: .5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: #964B00;
    font-weight: 600;
    font-size: 16px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/*-----------services.html------------*/

#services{
    padding: 30px 0;
    color: #856340;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #e5dada;
    padding: 20px;
    font-size: 17px;
    font-weight: 200;
    border-radius: 10px;
    transition: background-color 0.5s, transform 0.5s;
}

.services-list div h3{
    font-size: 25px;
    color: #964B00;
    margin-bottom: 10px;
    font-weight: 600;
}

.services-list div img{
    width: 40%;
    border-radius: 10px;
}

.services-list div p{
    margin-top: 10px;
}

.services-list div a{
    color: #432a12;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    display: inline-block;
}

.services-list div:hover{
    background-color: #d5b8 9d;
    transform: translateY(-10px);
}

/*-----------portfolio.html------------*/

#portfolio{
    padding: 50px 0;
    color: #cfbd92;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: .5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#a48669);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
}

.layer h3{
    font-size: 30px;
    color: #f09c36;
    margin-bottom: 20px;
    font-weight: 300;
}

.layer a{
    color: #f09c36;
    text-decoration: none;
    font-size: 16px;
    margin-top: 10px;
    line-height: 60px;
    background: #964B00;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}

.work:hover .layer{
    height: 100%;
    transition: .5s;
}

.work:hover img{
    transform: scale(1.1);
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 2px solid #964B00;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #9c6917;
    transition: background .5s, color .5s;
}

.btn:hover{
    background: #964B00;
    color: #fff;
}

/*-----------contact.html------------*/
.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;

}

.contact-left p i{
    font-size: 18px;
    color: #1964bf;
    margin-right: 15px;
}

.social-icon{
    margin-top: 20px;
}

.social-icon a{
    color: #ababab;
    font-size: 30px;
    margin-right: 15px;
    text-decoration: none;
    display: inline-block;
    transition: transform .5s;
}

.social-icon a:hover{
    color: #964B00;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ababab;
    border-radius: 5px;
    background: #f2f0efd0;
    font-size: 16px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    background: #964B00;
    color: #fff;
    text-align: center;
    padding: 25px 0;
    width: 100%;
    font-weight: 300;
}

.copyright i{
    color: #f09c36;
}


/*-----------CSS for small screen------------*/

nav .fa-solid{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(small.png);
    }

    .header-text{
        margin-top: 100%;
        font-size: 12px;
    }

    .header-text h1{
        font-size: 20px;
    }

    nav .fa-solid{
        display: block;
        color: #964B00;
        font-size: 25px;
    }
    nav ul{
        background: #d4cfc9;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 20px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 20px;
    }

    .about-col-2{
        font-size: 12px;
    }

    .tab-links{
        font-size: 14px;
        margin-right: 15px;
    }
    .contact-left, .comtact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 12px;
    }
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
